# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenv
venv/
env/
reviewsvenv/

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep

# PostgreSQL dumps
*.sql
*.dump

# Environments
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/
*.swp

# MacOS
.DS_Store
Thumbs.db

# Logs
*.log

# Mypy, Pylint, Coverage
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# FastAPI static/media uploads
static/uploads/
media/

# Node/NPM (если есть фронт)
node_modules/
*.tsbuildinfo

# HTML/CSS build (если генерация)
build/
dist/

# Others
*.bak
*.orig
*.tmp