@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  .question-mark {
    animation: fadeInOut var(--fade-duration,2s) ease-in-out infinite;
    animation-delay: var(--fade-delay,0s);
  }

  html {
    scroll-behavior: smooth;
  }